* {
  font-family: Helvetica, Arial, sans-serif;
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}

body, .start {
  display: flex;
}

#intro {
  min-height: 100vh;
  background: #A42C35;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro>a {
  width: 80%;
}

#title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.408px;
  color: rgba(255, 255, 255, 0.9);
}

.start {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 6px;
  padding-bottom: 6px;
  background: rgba(30, 30, 30, 0.75);
  border-radius: 13px;
  height: 48px;
}

#tag {
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  color: #FFFFFF;
}

#skipArrow {
  align-self: center;
  height: 22px;
}

#restaurantScreen {
  flex-direction: column;
  padding: 20px;
  background: #EFEFEF;
}

.restaurantScreenNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#restaurantScreenLocation {}

#locationName {
  flex-grow: 6;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: -0.408px;
  text-decoration-line: underline;
  color: rgba(30, 30, 30, 0.9);
  padding-left: 10px;
}

#shoppingCart {
  height: 24px;
}

#searchContainer {}

#searchField {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 22px;
  width: 100%;
  background: rgba(118, 118, 128, 0.24);
  border-radius: 10px;
  padding: 7px;
  max-width: 500px;
  align-self: center;
}

#searchIcon {
  height: 18px;
}

#searchText {
  font-size: 18px;
  flex-grow: 6;
  line-height: 22px;
  border: none;
  margin: 0;
  padding:0;
  background-color: rgba(0,0,0,0)
}

#microphone {
  height: 18px;
}

#TitleAndFilter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#screenTitle {
  font-size: 24px;
  flex-grow: 2;
}

#filter {
  height: 24px;
}

.restaurantSelection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#restaurant {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  height: 150px;
  width: 150px;
  border-radius: 22px;
  box-sizing: border-box;
  background: #FFFFFF;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.9);
  background-size: cover;
}

#restaurant>p {
  font-size: 14px;
  margin: 0;
}

#fav {
  height: 14px;
}

.foodSelection {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.5px;
}

.foodSelection>a {
  text-decoration: none;
  width: 50%;
}

#food {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.5px;
}

#food>p {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

#foodMenuName {
  font-weight: bold;
  font-size: 16px;
}

#food>img {
  width: 100%;
}

#sort {
  font-size: 12px;
  padding-left: 20px;
  text-decoration: underline;
}

#price {
  font-size: 16px;
}

#prep {
  font-size: 12px;
}

#size {
  font-size: 16px;
  font-weight: bold;
}

#backArrow {
  height: 22px;
}

.foodScreenNav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: auto;
}

#details {
  font-size: 12px;
}

.deliveryDetails {
  display: flex;
  align-items: center
}

.deliveryDetails>img {
  height: 18px;
  padding-right: 5px;
}

#location {
  display: flex;
  align-items: center;
}

#estTime {
  display: flex;
  align-items: center;
}

.buttons {
  align-items: center;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: visible;
  justify-content: center;
  align-items: center;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background: rgba(118, 118, 128, 0.12);
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10%;
  padding-right: 10%;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

span {
  cursor: pointer;
}

span {cursor:pointer; }
  .number{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .minus, .plus{
    flex-grow: 1;
    background:#ffffff;
    border-radius:4px;
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.04);

  }
  .number>input{
    max-width: 33.33%;
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    background: rgba(118, 118, 128, 0.12);
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    border-radius:4px;
}
